.todays-values {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 15px;
  color: grey;
}
.units {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: grey;
  vertical-align: top;
}
.description {
  font-family: "Poppins", sans-serif;
  text-align: right;
  font-style: italic;
  text-transform: capitalize;
  font-size: small;
}

.current-temp {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  vertical-align: left;
}

.current-city {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
}

.input-form {
  width: 100%;
  display: inline;
  vertical-align: middle;
  text-align: center;
}

.input-search {
  width: 100%;
  display: inline;
  vertical-align: middle;
  text-align: center;
}

.last-updated {
  font-family: "Poppins", sans-serif;
  text-align: right;
  font-size: small;
  color: grey;
  padding-top: 5px;
}

.footer {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: small;
}

.forecast-icon {
  display: block;
  width: 80%;
}

.weather-forecast-date {
  font-size: small;
  color: grey;
  padding-right: 10px;
  text-align: center;
}

.weather-forecast-max {
  font-size: small;
}

.weather-forecast-min {
  font-size: small;
  color: grey;
}
