img {
  text-align: left;
  vertical-align: middle;
  width: 45px;
}
.todays-values {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 20px;
}

.current-temp {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-align: center;
}

.current-city {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: right;
}

.input-form {
  width: 100%;
  display: inline;
  vertical-align: middle;
}

.input-search {
  width: 100%;
  display: inline;
  vertical-align: middle;
}

.last-updated {
  text-align: right;
  font-size: small;
  color: grey;
}

.footer {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: small;
}
